<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Passenger_form_edit" 
        service="Passenger" 
        entity="Passenger" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #preferred_airline attr="preferred_airline" label="preferred_airline" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-text-input #document_id attr="document_id" label="document_id" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="FLIGHTRESERVATION-passenger_id">
    <div layout-padding>
      <o-table 
        attr="FlightReservationTable" 
        service="FlightReservation" 
        entity="FlightReservation" 
        keys="id"
        parent-keys="passenger_id:id"
        columns="id;flight_id;passenger_id;seat_number;reservation_date"  
        horizontal-scroll="yes"
        detail-form-route="FlightReservation" 
        edit-form-route="FlightReservation"
        visible-columns="id;flight_id;passenger_id;seat_number;reservation_date"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="flight_id" title="flight_id">
    <o-table-cell-renderer-service attr="flight_id" 
        service="Flight" entity="FlightType" columns="id;id"
        parent-keys="id:flight_id"
        value-column="id" keys="flight_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="passenger_id" title="passenger_id">
    <o-table-cell-renderer-service attr="passenger_id" 
        service="Passenger" entity="PassengerType" columns="id;name"
        parent-keys="id:passenger_id"
        value-column="name" keys="passenger_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #seat_number attr="seat_number" title="seat_number" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-date-input #reservation_date attr="reservation_date" type="timestamp" label="reservation_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="TICKET-passenger_id">
    <div layout-padding>
      <o-table 
        attr="TicketTable" 
        service="Ticket" 
        entity="Ticket" 
        keys="id"
        parent-keys="passenger_id:id"
        columns="id;flight_id;passenger_id;seat_assignment;purchase_date"  
        horizontal-scroll="yes"
        detail-form-route="Ticket" 
        edit-form-route="Ticket"
        visible-columns="id;flight_id;passenger_id;seat_assignment;purchase_date"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="flight_id" title="flight_id">
    <o-table-cell-renderer-service attr="flight_id" 
        service="Flight" entity="FlightType" columns="id;id"
        parent-keys="id:flight_id"
        value-column="id" keys="flight_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="passenger_id" title="passenger_id">
    <o-table-cell-renderer-service attr="passenger_id" 
        service="Passenger" entity="PassengerType" columns="id;name"
        parent-keys="id:passenger_id"
        value-column="name" keys="passenger_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #seat_assignment attr="seat_assignment" title="seat_assignment" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-date-input #purchase_date attr="purchase_date" type="timestamp" label="purchase_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>